<div class="skin-blue sidebar-mini" [class.sidebar-collapse]="sidebarCollapse" style="height: auto; min-height: 100%;">
  <div class="wrapper" style="height: auto; min-height: 100%;">
    <!-- Main Header -->
    <app-index-header (toggleNavStateEvent)="changeSidebarCollapseState()" [userImg]="userImg" [userName]="userName"></app-index-header>
    <!-- Left side column. contains the logo and sidebar -->
    <app-index-sidebar [curId]="curRouteId" [navList]="navData"></app-index-sidebar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" style="min-height: 884px;">
      <section class="content-header">
        <h1>
          {{pageTitle}}
        </h1>
        <ol class="breadcrumb">
          <li><a><i class="fa fa-dashboard"></i> 首页</a></li>
          <li class="active">
            <a>
              <i class="fa fa-cubes" [class]="ttIcon"></i>{{pageTitle}}
            </a>
          </li>
        </ol>
      </section>
      <section class="content">
        <router-outlet></router-outlet>
      </section>
    </div>
    <!-- /.content-wrapper -->
    <!-- Main Footer -->
    <app-index-footer>
      <ng-container name="copyright">
        <strong>Copyright © 2016 <a href="#">Company</a>.</strong>All rights reserved.
      </ng-container>
      <ng-container name="custom">
        定制化内容
      </ng-container>
    </app-index-footer>
  </div>
  <!-- ./wrapper -->
</div>
