<div class="full-screen" [class.sidebar-mini]="sidebarCollapse">
  <header class="main-header">
    <a (click)="sidebarCollapse=!sidebarCollapse">
      <i class="fa fa-navicon"></i>
    </a>
  </header>
  <div class="main-sidebar">
    <app-index-sidebar [navList]="navData"></app-index-sidebar>
  </div>
  <div class="main-content-wrapper">
    <div class="container-fluid">
      <section class="page-header">
        <ol class="breadcrumb pull-right" style="background: none">
          <li><a><i class="fa fa-dashboard"></i> 首页</a></li>
          <li class="active">
            <a>
              <i class="fa fa-cubes" [class]="ttIcon"></i>{{pageTitle}}
            </a>
          </li>
        </ol>
        <h3>
          {{pageTitle}}
        </h3>
      </section>
      <section class="content">
        <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
      </section>
    </div>
  </div>
  <div class="main-footer">
    footer
  </div>
</div>
