<share-box [toolCollapse]="false">
  <ng-container name="title">{{handleTitle}}</ng-container>
  <div name="body" style="padding: 20px">
      <share-form-box [formData]="formData">
        <ng-container name="form-btn">
          <button type="button" class="btn  btn-primary" [disabled]="!formGroup.valid" (click)="submit()">
            提交
          </button>
          <button type="button" class="btn  btn-default" (click)="cancel()">
            取消
          </button>
        </ng-container>
      </share-form-box>
      <!--{{formGroup.value|json}}-->
  </div>
</share-box>
