<share-box [toolCollapse]="false" [loading]="loadingFlag">
  <ng-container name="title">{{handleTitle}}</ng-container>
  <ng-container name='tool'>
    <a class="btn btn-sm btn-default" (click)="back()">
      <i class="fa  fa-mail-reply-all "></i> 返回
    </a>
  </ng-container>
  <div name="body" style="padding: 20px">
      <share-form-box [formData]="formData">
        <ng-container name="form-btn">
          <button type="button" class="btn  btn-primary" [disabled]="!formGroup.valid" (click)="submit()">
            提交
          </button>
          <button type="button" class="btn  btn-default" (click)="cancel()">
            重置
          </button>
        </ng-container>
      </share-form-box>
      <!--{{formGroup.value|json}}-->
  </div>
</share-box>
