<div class="form-group"
     [formGroup]="form"
     [class.has-error]="(name.dirty||name.touched)&&!name.valid"
     [class.hidden]="formData.controlType===formType[6]">
  <label class="col-sm-2 control-label">{{formData.label}}</label>
  <div class="col-sm-10">
    <ng-container [ngSwitch]="formData.controlType" >
      <input *ngSwitchCase="formType[0]"
             [attr.placeholder]="formData.placeholder"
             [formControlName]="formData.key"
             class="form-control"
             type="text" >
      <input *ngSwitchCase="formType[1]"
             [attr.placeholder]="formData.placeholder"
             [formControlName]="formData.key"
             class="form-control"
             type="password" >
      <select *ngSwitchCase="formType[2]" class="form-control" [formControlName]="formData.key">
        <option *ngFor="let opt of formData.options" [value]="opt.key">{{opt.value}}</option>
      </select>
      <ng-container *ngSwitchCase="formType[3]" [formGroupName]="formData.key">
        <div *ngFor="let opt of formData.options;let i=index;">
          <input type="checkbox" [formControlName]="opt.key">
          {{opt.label}}
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="formType[4]">
        <div class="radio" *ngFor="let opt of formData.options">
          <label>
            <input [formControlName]="formData.key" [value]="opt.key" type="radio">
            {{opt.value}}
          </label>
        </div>
      </ng-container>
      <textarea *ngSwitchCase="formType[5]"
                [attr.placeholder]="formData.placeholder"
                [formControlName]="formData.key"
                class="form-control" rows="3">
      </textarea>
      <input *ngSwitchCase="formType[6]"
             [formControlName]="formData.key"
             class="form-control"
             type="hidden" >
    </ng-container>
    <div class="bg-red disabled color-palette" [hidden]="(name.pristine&&name.untouched)||name.valid">
      <ng-container *ngIf="name.hasError('required')">
        请输入{{formData.label}}
      </ng-container>
      <ng-container *ngIf="name.hasError('minlength')">
        至少输入{{name.getError('minlength').requiredLength}}个字符
      </ng-container>
      <ng-container *ngIf="name.hasError('maxlength')">
        最多输入{{name.getError('maxlength').requiredLength}}个字符
      </ng-container>
      <ng-container *ngIf="name.hasError('format')&&!(name.hasError('maxlength'))&&!(name.hasError('minlength'))">
        {{formData.label}}格式不合法
      </ng-container>
    </div>
  </div>
</div>
