<section class="content">
  <!-- /.row -->
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
          <!-- /.box-header -->
            <div class="box-header">
              <h3 class="box-title">Responsive Hover Table</h3>

              <div class="box-tools">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" [formControl]="tableIdFilter" name="table_search" class="form-control pull-right" placeholder="Search">

                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
          <!-- /.box-body -->
            <div class="box-body  search-box table-responsive no-padding">
              <table class="table table-hover">
                <tr>
                  <th>ID</th>
                  <th>User</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Reason</th>
                </tr>
                <tr *ngFor="let tableList of tableList|tablesFilter:'user':keyword;let i=index;">
                  <td>{{i+1}}</td>
                  <td>{{tableList.user}}</td>
                  <td>{{tableList.date}}</td>
                  <td><span class="label label-success">{{tableList.status}}</span></td>
                  <td>{{tableList.reason}}</td>
                </tr>
              </table>
            </div>
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>
