<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar Menu -->
    <ul class="sidebar-menu">
      <li class="header">菜单</li>
      <li>
        <a routerLink="./general">
          <i class="fa  fa-cubes"></i>
          <span>样式库</span>
        </a>
      </li>
      <li>
        <a routerLink="./form">
          <i class="fa  fa-cubes"></i>
          <span>表单</span>
        </a>
      </li>
      <li class="active">
        <a routerLink="./tree">
          <i class="fa  fa-cubes"></i>
          <span>树</span>
        </a>
      </li>
      <li class="treeview">
        <a routerLink="./animation">
          <i class="fa  fa-cubes"></i>
          <span>特效/动画</span>
        </a>
      </li>
    </ul>
    <!-- /.sidebar-menu -->
  </section>
  <!-- /.sidebar -->
</aside>
