<section class="content-header">
  <h1>
    表单
  </h1>
  <ol class="breadcrumb">
    <li><a><i class="fa fa-dashboard"></i> 首页</a></li>
    <li class="active"><i class="fa fa-cubes"></i>表单</li>
  </ol>
</section>
<section class="content">
  <share-box>
    <ng-container name="title">form</ng-container>
    <form name="body" [formGroup]="formGroup" class="form-horizontal">
      <ng-container *ngFor="let data of formData">
        <share-form-text [form]="formGroup" [formData]="data"></share-form-text>
      </ng-container>
      form的值:{{formGroup.value|json}}
      <br>
      验证结果:{{formGroup.valid}}

    </form>
  </share-box>
</section>

