<share-box [toolCollapse]="false" [loading]="!users">
  <ng-container name='tool'>
    <a class="btn btn-sm btn-primary" (click)="add()">
      <i class="glyphicon glyphicon-plus"></i>
    </a>
  </ng-container>
  <ng-container name="title">用户</ng-container>
  <ng-container name="body">
    <table class="table table-bordered">
      <tbody>
      <tr>
        <th style="width: 60px">头像</th>
        <th>名称</th>
        <th style="width: 90px">操作</th>
      </tr>
      <ng-container *ngIf="users">
        <tr *ngFor="let item of users;let i=index;" [class.bg-gray]="curEditId===item.id">
          <td class="user-header">
            <img [src]="item.img" class="img-circle" style="width: 50px">
          </td>
          <td>{{item.name}}</td>
          <td>
            <a type="button" class="btn  btn-success  btn-sm" (click)="edit(item)">
              <i class="glyphicon glyphicon-pencil"></i>
            </a>
            <a type="button" class="btn  btn-danger btn-sm" (click)="delete(item.id)">
              <i class="glyphicon glyphicon-trash"></i>
            </a>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </ng-container>
</share-box>
