<section class="content">
    <h3>盒子组件</h3>
    <share-box [styleSolid]="true">
      <ng-container name="title">
        share-box
      </ng-container>
      <ng-container name="body">
        <h4>名称: <span>share-box</span></h4>
        <h4>可配置参数: <span> loading、toolCollapse、toolRemove、styleSolid、styleCollapsed、styleTheme</span></h4>
        <h4>可监听事件：eventCollapse和eventRemove</h4>
        <h4>内容投影：name="body",name="title"</h4>
        <h4>使用方法:</h4>
        <pre>
&lt;share-box
  [loading]=&quot;true&quot;
  [toolCollapse]=&quot;true&quot;
  [toolRemove]=&quot;true&quot;
  [styleSolid]=&quot;true&quot;
  [styleCollapsed]=&quot;false&quot;
  [styleTheme]=&quot;4&quot;
  (eventCollapse)=&quot;eventCollapse()&quot;
  (eventRemove)=&quot;eventRemove()&quot;&gt;
&lt;ng-container name=&quot;title&quot;&gt;此处是标题&lt;/ng-container&gt;
&lt;ng-container name=&quot;body&quot;&gt;此处是内容主体部分&lt;/ng-container&gt;
&lt;/share-box&gt;
      </pre>
        <share-box [styleSolid]="true" [styleTheme]="2" >
          <ng-container name="title">
            示例
          </ng-container>
          <ng-container name="body">
            <div class="row">
              <div class="col-xs-2">
                <share-box>
                  <ng-container name="title">
                    styleTheme
                  </ng-container>
                  <ng-container name="body">
                    默认样式
                  </ng-container>
                </share-box>
              </div>
              <div class="col-xs-2">
                <share-box [styleTheme]="1">
                  <ng-container name="title">
                    styleTheme
                  </ng-container>
                  <ng-container name="body">
                    [styleTheme]="1"
                  </ng-container>
                </share-box>
              </div>
              <div class="col-xs-2">
                <share-box [styleTheme]="2">
                  <ng-container name="title">
                    styleTheme
                  </ng-container>
                  <ng-container name="body">
                    [styleTheme]="2"
                  </ng-container>
                </share-box>
              </div>
              <div class="col-xs-2">
                <share-box [styleTheme]="3">
                  <ng-container name="title">
                    styleTheme
                  </ng-container>
                  <ng-container name="body">
                    [styleTheme]="3"
                  </ng-container>
                </share-box>
              </div>
              <div class="col-xs-2">
                <share-box [styleTheme]="4">
                  <ng-container name="title">
                    styleTheme
                  </ng-container>
                  <ng-container name="body">
                    [styleTheme]="4"
                  </ng-container>
                </share-box>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-2">
                <share-box [styleSolid]="true">
                  <ng-container name="title">
                    styleTheme
                  </ng-container>
                  <ng-container name="body">
                    styleTheme默认值
                    [styleSolid]="true"
                  </ng-container>
                </share-box>
              </div>
              <div class="col-xs-2">
                <share-box [styleTheme]="1" [styleSolid]="true">
                  <ng-container name="title">
                    styleTheme
                  </ng-container>
                  <ng-container name="body">
                    [styleTheme]="1"
                    [styleSolid]="true"
                  </ng-container>
                </share-box>
              </div>
              <div class="col-xs-2">
                <share-box [styleTheme]="2" [styleSolid]="true">
                  <ng-container name="title">
                    styleTheme
                  </ng-container>
                  <ng-container name="body">
                    [styleTheme]="2"
                    [styleSolid]="true"
                  </ng-container>
                </share-box>
              </div>
              <div class="col-xs-2">
                <share-box [styleTheme]="3" [styleSolid]="true">
                  <ng-container name="title">
                    styleTheme
                  </ng-container>
                  <ng-container name="body">
                    [styleTheme]="3"
                    [styleSolid]="true"
                  </ng-container>
                </share-box>
              </div>
              <div class="col-xs-2">
                <share-box [styleTheme]="4" [styleSolid]="true">
                  <ng-container name="title">
                    styleTheme
                  </ng-container>
                  <ng-container name="body">
                    [styleTheme]="4"
                    [styleSolid]="true"
                  </ng-container>
                </share-box>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-5">
                <share-box>
                  <ng-container name="title">
                    styleCollapsed
                  </ng-container>
                  <ng-container name="body">
                    styleCollapsed默认值是true
                  </ng-container>
                </share-box>
              </div>
              <div class="col-xs-5">
                <share-box [styleCollapsed]="true">
                  <ng-container name="title">
                    styleCollapsed
                  </ng-container>
                  <ng-container name="body">
                    将styleCollapsed设置为true
                  </ng-container>
                </share-box>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-5">
                <share-box>
                  <ng-container name="title">
                    styleSolid
                  </ng-container>
                  <ng-container name="body">
                    styleSolid默认值是false
                  </ng-container>
                </share-box>
              </div>
              <div class="col-xs-5">
                <share-box styleSolid="true">
                  <ng-container name="title">
                    styleSolid
                  </ng-container>
                  <ng-container name="body">
                    styleSolid默认值是false
                  </ng-container>
                </share-box>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-5">
                <share-box>
                  <ng-container name="title">
                    toolRemove
                  </ng-container>
                  <ng-container name="body">
                    toolRemove默认值是false
                  </ng-container>
                </share-box>
              </div>
              <div class="col-xs-5">
                <share-box [toolRemove]="true">
                  <ng-container name="title">
                    toolRemove
                  </ng-container>
                  <ng-container name="body">
                    [toolRemove]="true"
                  </ng-container>
                </share-box>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-5">
                <share-box>
                  <ng-container name="title">
                    toolCollapse
                  </ng-container>
                  <ng-container name="body">
                    toolCollapse默认值是true
                  </ng-container>
                </share-box>
              </div>
              <div class="col-xs-5">
                <share-box [toolCollapse]="false">
                  <ng-container name="title">
                    toolCollapse
                  </ng-container>
                  <ng-container name="body">
                    [toolCollapse]="false"
                  </ng-container>
                </share-box>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-5">
                <share-box>
                  <ng-container name="title">
                    loading
                  </ng-container>
                  <ng-container name="body">
                    loading默认值是false
                  </ng-container>
                </share-box>
              </div>
              <div class="col-xs-5">
                <share-box [loading]="true">
                  <ng-container name="title">
                    loading
                  </ng-container>
                  <ng-container name="body">
                    [loading]="true"
                  </ng-container>
                </share-box>
              </div>
            </div>
          </ng-container>
        </share-box>
      </ng-container>
    </share-box>
</section>
<section class="content">
  <h3>警告框组件</h3>
  <share-box [styleSolid]="true">
    <ng-container name="title">
      share-alert
    </ng-container>
    <div class="row" name="body">
      <div class="col-xs-3">
        <share-alert [styleTheme]="'danger'" [toolClose]="false">
          <ng-container name="title">标题</ng-container>
          <ng-container name="body">
            主体部分 <br>
            配置 <br>
            [styleTheme]="'danger'" [toolClose]="false"
          </ng-container>
        </share-alert>
      </div>
      <div class="col-xs-3">
        <share-alert [styleTheme]="'info'" [toolClose]="false">
          <ng-container name="title"><i class="icon fa fa-info"></i> 标题</ng-container>
          <ng-container name="body">
            主体部分<br>
            配置<br>
            [styleTheme]="'info'" [toolClose]="false"
          </ng-container>
        </share-alert>
      </div>
      <div class="col-xs-3">
        <share-alert [styleTheme]="'warning'" [toolClose]="false">
          <ng-container name="title"><i class="icon fa fa-info"></i> 标题!</ng-container>
          <ng-container name="body">
            主体部分<br>
            配置<br>
            [styleTheme]="'warning'" [toolClose]="false"
          </ng-container>
        </share-alert>
      </div>
      <div class="col-xs-3">
        <share-alert [styleTheme]="'success'" [toolClose]="true">
          <ng-container name="title"><i class="icon fa fa-info"></i> 标题!</ng-container>
          <ng-container name="body">
            主体部分<br>
            配置<br>
            [styleTheme]="'success'" [toolClose]="true"
          </ng-container>
        </share-alert>
      </div>
    </div>
  </share-box>
  <share-box [styleSolid]="true">
    <ng-container name="title">
      callout
    </ng-container>
    <div class="row" name="body">
      <div class="col-xs-3">
      <share-callout [styleTheme]="'danger'">
        <ng-container name="title">
          标题
        </ng-container>
        <ng-container name="body">
          [styleTheme]="'danger'"
        </ng-container>
      </share-callout>
      </div>
      <div class="col-xs-3">
      <share-callout [styleTheme]="'info'">
        <ng-container name="title">
          标题
        </ng-container>
        <ng-container name="body">
          [styleTheme]="'info'"
        </ng-container>
      </share-callout>
      </div>
      <div class="col-xs-3">
      <share-callout [styleTheme]="'warning'">
        <ng-container name="title">
          标题
        </ng-container>
        <ng-container name="body">
          [styleTheme]="'warning'"
        </ng-container>
      </share-callout>
      </div>
      <div class="col-xs-3">
      <share-callout [styleTheme]="'success'">
        <ng-container name="title">
          标题
        </ng-container>
        <ng-container name="body">
          [styleTheme]="'success'"
        </ng-container>
      </share-callout>
      </div>
    </div>
  </share-box>
</section>
<section class="content">
  <h3>分页</h3>
  <share-box [styleSolid]="true">
    <ng-container name="title">share-page-bar</ng-container>
    <ng-container name="body">
      <div class="col-xs-12">
        <h3>
          使用方法
        </h3>
        <dl>
          <dt>插件名称</dt>
          <dd>share-page-bar</dd>
          <dt>输入型参数:</dt>
          <dd>
            <p>
              curPage、totalPage、size
            </p>
            curPage(必传):当前页码 number类型
            <br>
            totalPage(必传):页码综述 number类型
            <br>
            size(选传):分页大小 string类型 不传时默认大小，还有另外一个可传值's'
          </dd>
          <dt>输出型参数:</dt>
          <dd>
            <p>
              changePage
            </p>
            这是一个输出型属性，可以通过这个属性会获得一个参数当前点击的页码
          </dd>
          <dt>具体使用方法:</dt>
          <dd>
            <p>不要忘记在主组件中定义change()函数哦</p>
            <pre>&lt;share-page-bar curPage=&quot;1&quot; totalPage=&quot;3&quot; (changePage)=&quot;change($event)&quot;&gt;&lt;/share-page-bar&gt;</pre>
          </dd>
        </dl>
      </div>
      <div class="col-xs-3">
      <share-page-bar curPage="1" totalPage="3" (changePage)="change($event)"></share-page-bar>
      </div>
      <div class="col-xs-3">
      <share-page-bar curPage="1" totalPage="5"></share-page-bar>
      </div>
      <div class="col-xs-3">
      <share-page-bar curPage="1" totalPage="100"></share-page-bar>
      </div>
      <div class="col-xs-3">
      <share-page-bar curPage="3" totalPage="100"></share-page-bar>
      </div>
      <div class="col-xs-3">
      <share-page-bar curPage="4" totalPage="100"></share-page-bar>
      </div>
      <div class="col-xs-3">
      <share-page-bar curPage="98" totalPage="100"></share-page-bar>
      </div>
      <div class="col-xs-3">
      <share-page-bar curPage="99" totalPage="100"></share-page-bar>
      </div>
      <div class="col-xs-3">
      <share-page-bar curPage="100" totalPage="100"></share-page-bar>
      </div>
    </ng-container>
  </share-box>
</section>
<section class="content">
  <h3>进度条</h3>
  <share-box [styleSolid]="true">
    <ng-container name="title">share-progress-bar</ng-container>
    <ng-container name="body">
      <share-progress-bar [styleTheme]="1"></share-progress-bar>
      <share-progress-bar [styleTheme]="2"></share-progress-bar>
      <share-progress-bar [styleTheme]="3"></share-progress-bar>
      <share-progress-bar [styleTheme]="4"></share-progress-bar>
      <share-progress-bar [styleTheme]="5"></share-progress-bar>
      <share-progress-bar [styleStripe]="true"></share-progress-bar>
      <share-progress-bar [styleStripe]="true" [styleAnimate]="true" ></share-progress-bar>
      <share-progress-bar [styleStripe]="true" [styleSize]="'sm'"></share-progress-bar>
      <share-progress-bar [styleStripe]="true" [styleSize]="'xs'"></share-progress-bar>
      <share-progress-bar [styleStripe]="true" [styleSize]="'xxs'"></share-progress-bar>
    </ng-container>
  </share-box>
</section>
