<!--
<header class="main-header">
  &lt;!&ndash; Logo &ndash;&gt;
  <div class="logo">
    &lt;!&ndash; mini logo for sidebar mini 50x50 pixels &ndash;&gt;
    <div class="logo-mini">
      <img src="assets/img/default-50x50.gif" style="width: 40px;">
    </div>
    &lt;!&ndash; logo for regular state and mobile devices &ndash;&gt;
    <div class="logo-lg">
      <img src="assets/img/default-50x50.gif" style="height: 40px;">
      <span>logo</span>
    </div>
  </div>
  &lt;!&ndash; Header Navbar &ndash;&gt;
  <nav class="navbar navbar-static-top" role="navigation">
    &lt;!&ndash; Sidebar toggle button&ndash;&gt;
    <a class="sidebar-toggle" (click)="toggleNavState()">
      <span class="sr-only">Toggle navigation</span>
    </a>
    &lt;!&ndash; Navbar Right Menu &ndash;&gt;
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        &lt;!&ndash; Messages: style can be found in dropdown.less&ndash;&gt;
        <li class="dropdown messages-menu">
          &lt;!&ndash; Menu toggle button &ndash;&gt;
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <i class="fa fa-envelope-o"></i>
            <span class="label label-success">4</span>
          </a>
          <ul class="dropdown-menu">
            <li class="header">You have 4 messages</li>
            <li>
              &lt;!&ndash; inner menu: contains the messages &ndash;&gt;
              <ul class="menu">
                <li>&lt;!&ndash; start message &ndash;&gt;
                  <a href="#">
                    <div class="pull-left">
                      &lt;!&ndash; User Image &ndash;&gt;
                      <img src="{{userImg}}" class="img-circle" alt="User Image">
                    </div>
                    &lt;!&ndash; Message title and timestamp &ndash;&gt;
                    <h4>
                      Support Team
                      <small><i class="fa fa-clock-o"></i> 5 mins</small>
                    </h4>
                    &lt;!&ndash; The message &ndash;&gt;
                    <p>Why not buy a new awesome theme?</p>
                  </a>
                </li>
                &lt;!&ndash; end message &ndash;&gt;
              </ul>
              &lt;!&ndash; /.menu &ndash;&gt;
            </li>
            <li class="footer"><a href="#">See All Messages</a></li>
          </ul>
        </li>
        &lt;!&ndash; /.messages-menu &ndash;&gt;
        &lt;!&ndash; User Account Menu &ndash;&gt;
        <li class="dropdown user user-menu">
          &lt;!&ndash; Menu Toggle Button &ndash;&gt;
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            &lt;!&ndash; The user image in the navbar&ndash;&gt;
            <img src="{{userImg}}" class="user-image" alt="User Image">
            &lt;!&ndash; hidden-xs hides the username on small devices so only the image appears. &ndash;&gt;
            <span class="hidden-xs">{{userName}}</span>
          </a>
          <ul class="dropdown-menu">
            &lt;!&ndash; The user image in the menu &ndash;&gt;
            <li class="user-header">
              <img src="{{userImg}}" class="img-circle" alt="User Image">
              <p>
                Alexander Pierce - Web Developer
                <small>Member since Nov. 2012</small>
              </p>
            </li>
            &lt;!&ndash; Menu Body &ndash;&gt;
            <li class="user-body">
              <div class="row">
                <div class="col-xs-4 text-center">
                  <a href="#">Followers</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Sales</a>
                </div>
                <div class="col-xs-4 text-center">
                  <a href="#">Friends</a>
                </div>
              </div>
              &lt;!&ndash; /.row &ndash;&gt;
            </li>
            &lt;!&ndash; Menu Footer&ndash;&gt;
            <li class="user-footer">
              <div class="pull-left">
                <a class="btn btn-default btn-flat">Profile</a>
              </div>
              <div class="pull-right">
                <a class="btn btn-default btn-flat" (click)="signOut()">Sign out</a>
              </div>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
-->
<div class="row">
  <div class="col-sm-3 col-xs-12">
    <a  (click)="toggleNavState()"><i class="fa fa-navicon"></i></a>
  </div>
  <div class="col-sm-9 col-xs-12">

  </div>
</div>
